
.page-2 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/svgs/backgrounds/page2-bg.svg");
    background-color: black;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;

    .cloud {
        width: 9rem;
    }

    #c1 {
        position: absolute;
        top: 10%;
        left: 10%;
    }

    #c2 {
        position: absolute;
        top: 12%;
        right: 10%;
    }

    #c3 {
        position: absolute;
        top: 15%;
        right: 25%;
    }

    .mario {
        position: absolute;
        left: 48%;
        bottom: 18%;
    }

}