
.page-3 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/svgs/backgrounds/page3_5-bg.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;

    .cloud {
        width: 9rem;
    }

    #c1 {
        position: absolute;
        top: 18%;
        left: 10%;
    }

    #c2 {
        position: absolute;
        top: 12%;
        right: 10%;
    }

    #c3 {
        position: absolute;
        top: 15%;
        right: 25%;
    }

    #c4 {
        position: absolute;
        top: 10%;
        left: 35%;
    }

    .bricks-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
    }

    #b-cont-1 {
        position: absolute;
        bottom: 35%;
        right: 35%;
    }

    #b-cont-2 {
        position: absolute;
        bottom: 35%;
        right: 10%;
    }

    .coins-row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        gap: 5px;
    }

    #c-row-1 {
        position: absolute;
        bottom: 20%;
        right: 8%;
    }

    #c-row-2 {
        position: absolute;
        bottom: 44%;
        right: 40%;
    }

    #c-row-3 {
        position: absolute;
        bottom: 44%;
        right: 10.5%;
    }

    .mario {
        position: absolute;
        left: 18%;
        bottom: 18%;
    }
}